
.main__col__content__bigbutton:hover {
  color: $ljosrautt;
  background-color: $svartur;
  transition: background-color 0.3s ease-in-out;
}
.footer__col > ul > li > a:hover { /* stylelint-disable-line */
  color: $svartur;
  transition: color 0.3s ease-in-out;
}
.header__navitem > a:hover { /* stylelint-disable-line */
  color: $hvitur;
  transition: color 0.3s ease-in-out;
}

.main__product.form > .form__button:hover {
  background-color: $ljosrautt;
  transition: background-color 0.3s ease-in-out;
}
