.cart__title {
  padding: 0 0 20px;
  font-size: 1.5em;
}

.cart_container {
  display: flex;
  flex-direction: column;
}

.cart__image-container {
  width: 100%;
  @media screen and (min-width: 700px) {
    width: 34%;
    margin-right: $gutter;
  }

  .cart__image__img {
    width: 100%;
  }

}

.cart__content-container {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  margin-bottom: $gutter*2;

  @media screen and (min-width: 700px) {
    margin-bottom: $gutter;
    flex-wrap: nowrap;
  }

}

.cart__text-container {
  display: flex;
  width: 100%;
  margin-top: 2em;
  flex-direction: column;
  justify-content: space-between;
  @media screen and (min-width: 700px) {
    width: 70%;
    margin-top: 0;
  }
}

.cart__text-container__form {
  .text__container__form__p:nth-of-type(1) {
    font-size: 1.4em;
    font-weight: bold;
  }

  .cart__form__checkout {
    display: flex;
    width: 100%;

    @media screen and (min-width: 700px) {
      width: 70%;
    }

    .text__container__form__p {
      width: 75%;
      padding-bottom: 10px;
      font-family: Oswald;
      font-size: 1.7em;
      font-weight: bold;
    }

    .form__cart {
      width: 25%;
      height: 50%;
    }

    .cart__form__checkout__input {
      width: 20%;
      height: 3em;
      padding-left: 1em;
      margin-right: 1em;
      border: 1px solid;
      border-radius: 4px;

      @media screen and (min-width: 700px) {
        width: 57.5%;
      }

    }

    .cart__form__checkout__button {
      display: flex;
      max-width: 30%;
      height: 3em;
      background-color: $hvitur;
      border: 1px solid;
      border-radius: 4px;

      @media screen and (min-width: 699px) {
        max-width: 100%;
      }

    }

    .cart__form__checkout__button:hover {
      background-color: $ljosrautt;
      transition: background-color 0.3s ease-in-out;
    }
  }
}

.cart__form__checkout__button:nth-of-type(1) {
  margin-right: 1em;
}

.cart__info {
  display: flex;
  width: 100%;
  flex-direction: column;
  justify-content: space-between;

  @media screen and (min-width: 700px) {
    width: 100%;
    margin: 0 auto;
    flex-direction: row;
  }

  @media screen and (min-width: 1000px) {
    width: 70%;
    margin: 0 auto;
  }

  .cart__info__h2 {
    margin: 0.5em 0;
    font-size: 2em;
  }
}

.cart__info-container {
  display: flex;
  width: 100%;
  margin-bottom: 1.5em;
  flex-direction: column;

  @media screen and (min-width: 700px) {
    width: 49%;
  }

  .cart__info-container__form {
    display: flex;
    flex-direction: column;

    .cart__info__input {
      width: 20%;
      height: 3em;
      padding-left: 1em;
      margin-right: 1em;
      border: 1px solid;
      border-radius: 4px;
      @media screen and (min-width: 700px) {
        width: 57.5%;
      }
    }

    .cart__info__form {
      display: flex;
      width: 100%;
      flex-direction: row;
      flex-wrap: wrap;

      p, input, select { /* stylelint-disable-line */
        width: 50%;
      }

      .cart__info__input { /* stylelint-disable-line */
        margin-right: 0;
        margin-bottom: 1em;
      }

      .cart__info__select { /* stylelint-disable-line */
        height: 2em;
        border: 1px solid;
        border-radius: 4px;
      }

      .cart__info__select:first-of-type {/* stylelint-disable-line */
        width: 66%;
        margin-right: 10px;
        margin-left: 10px;
      }

      .cart__info__select:nth-of-type(2) { /* stylelint-disable-line */
        width: 80%;
      }
    }
  }
}

.cart__container__button {
  display: flex;
  width: 100%;

  .cart__container__purchase__button {
    width: 60%;
    height: 3em;
    margin: 3em auto;
    font-size: 1em;
    background-color: $ljosrautt;
    border: none; /* stylelint-disable-line */
    border-radius: 4px;
    @media screen and (min-width: 700px) {
      width: 40%;
    }
  }

  .cart__form__checkout__button:hover {
    color: $ljosrautt;
    background-color: $svartur;
    transition: background-color 0.3s ease-in-out;
  }
}

.cart__text-container__form > .cart__form__checkout > .cart__form__checkout__button:hover {
  background-color: $ljosrautt;
  transition: background-color 0.3s ease-in-out;
}

.datepicker {
  display: flex;
  width: 50%;
  flex-direction: row;

  .cart__info__select {
    width: 70%;
    height: 2em;
  }

}

.cart__text-container__text {
  .container__text__h2 {
    font-size: 2.2em;
  }

  .container__text__p {
    padding: $gutter 0;
  }
}
