@font-face
{
  font-family: 'Oswald';
  src: url(fonts/Oswald/Oswald-Regular.ttf);
  font-style: normal;
  font-weight: 400;
}

@font-face
{
  font-family: 'Open-Sans';
  src: url(fonts/OpenSans/OpenSans-Regular.ttf);
  font-style: normal;
  font-weight: 400;
}
@font-face
{
  font-family: 'Open-Sans-ExtraBold';
  src: url(fonts/OpenSans/OpenSans-ExtraBold.ttf);
  font-style: normal;
  font-weight: 400;
}