footer { /*stylelint-disable-line */ 
  width: 100vw;
  font-family: sans-serif;
  background-color: $ljosrautt;
}

footer>div { /*stylelint-disable-line */ 
  display: flex;
}

footer ul > li > a { /*stylelint-disable-line */ 
  color: $ljosgult;
  text-decoration: none;
}

footer>div>div>ul>li { /*stylelint-disable-line */ 
  margin-top: $gutter;
  list-style: none;
}

.footer__list__title {
  font-size: 1.5em;
  font-weight: bold;
}

.footer__row {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  max-width: 77em;
  margin: 0 auto;
}

.footer__col {
  width: 50%;
  padding: $gutter;

  @media (min-width: 999px) {
    width: 25%;
  }

}

.footer__copyright {
  margin: 0 auto;
  margin-top: $gutter;
  margin-bottom: $gutter;
}
