footer{
width:100vw;
background-color:$ljosrautt;
}
footer>div{
	display:flex;

}
footer>div>div>ul>li{
	list-style:none;
}
.footer__row{
	margin-left: -1*($gutter/2);
	margin-right: -1*($gutter/2);

	width:100%;
	display:flex;
	justify-content: space-evenly;
	flex-wrap: wrap;
}
.footer__col{
	padding-left:($gutter / 2);
	padding-right:($gutter / 2);
	width:50%;
}
.footer__copyright{
	
}