header{
	width:100vw;
	height:20vh;
	background-color:$graentish;
}
.header__wrapper{
	display:flex;
    text-align: center;
    flex-direction: column;
}
.header__maintitle{
	padding:20px;
}
.header__navlist{
	display:inline-flex;
	flex-direction:row;	
}
.header__navbar__cart{
	background-image: url("img/cart.svg");
	width:1em;
	height:1em;
}
.header__navlist{
	padding:20px;
	list-style:none;
}
.header__navitem{
}
.header__navitem>a{
	text-decoration:none;
}
.header__cart{
}
