header{
	width: 100vw;
	background-color: $graentish;
	display: flex;
	margin-bottom: 2*$gutter;
	justify-content: center;
}
.header__wrapper{
	display: flex;
    text-align: center;
    flex-direction: column;
    max-width: 77em;
    width: 100%;
}
.header__maintitle{
	margin-bottom: $gutter;
	font-family: "Oswald-Bold";
	font-size: 2.25em;
	letter-spacing: 0.0625em;
	max-height: 4*$gutter;
}
.header__navbar{
	display: flex;
	justify-content: center;
}
.header__navlist{
	display: flex;
	font-size: 21px;
	flex-direction: row;
	flex-wrap: wrap;
	width: 100%;
	justify-content: center;
	margin-left: -10px;
	margin-right: -10px;
}
.header__navitem{
	padding: 20px 10px 10px 10px;
	font-family: "Open-Sans-SemiBold";
	font-weight: bold;
	letter-spacing: 0.0625em;
	text-decoration: none;
}
.header__navbar__cartlink{
	  justify-content: flex-end;
	  		@media (max-width:700px){	 	
	 	width: 100%;
	 }
}
.header__navitem>a{
	text-decoration: none;
	color: black;
	text-transform: uppercase;
}
.header__navbar__cartlink__text{
	display: list-item;
	list-style-image: url("img/cart.svg");
 	list-style-position: inside;
 	font-size: 2.25em;
 	Line-height: 0;
 	white-space: nowrap;
 	padding-bottom: 20px;
}
.header__navlist .header__navitem:first-child{
			@media (min-width:699px){	 	
	 	margin-left: auto;
	}
}
.header__navlist .header__navitem:nth-child(2){
	
}
.header__navlist .header__navitem:nth-child(3){
	    @media (min-width:700px){	
	    margin-right: -140px;
	}
}
.header__navlist .header__navitem:nth-child(4){
			@media (min-width:700px){	 	
	 	margin-left: auto;
	 	margin-right: 10px;
	}
	
}
span.header__navbar__cartlink__textspan{
	white-space: nowrap;
 	text-transform: none;
	font-weight: normal;
	vertical-align: middle;
	font-size: 21px;
	 letter-spacing: 0em;;
	 @media (max-width:700px){
	 	width: 100%;
	 }
}
.header__active__page{
	text-decoration:underline;
}	
