header{
	width:100vw;
	background-color:$graentish;
	display: flex;
	margin-bottom: 2*$gutter;
}
.header__wrapper{
	display:flex;
    text-align: center;
    flex-direction: column;
    margin: 0 auto;
}
.header__maintitle{
	margin-bottom:$gutter;
	font-family:"Oswald";
	font-size:2.25em;
	letter-spacing:0.0625em;
	max-height:4*$gutter;
}
.header__navlist{
	padding:$gutter;
	list-style:none;
	display:flex;
	font-size:21px;
	flex-direction: row;
    flex-wrap: wrap;
	text-transform:uppercase;
}
.header__navitem{
	margin: 0 auto;
	width:30%;
	font-weight:bold;
	font-family:'Open-Sans';
	letter-spacing:0.0625em;
		@media (min-width: 700px) AND (max-width:999px ){
		width:30%;
		margin:0;
	}

}
.header__navitem>a{
	text-decoration:none;
	color:$svartur;
}

.header__active__page{
	text-decoration:underline;
}

.header__navbar__cartlink{
	font-family:"Open-Sans";
	text-transform: none;
    font-weight:normal;
 	white-space: nowrap;
 	letter-spacing: 0em;;
 	list-style-image: url("img/cart.svg");
 	list-style-position: inside;
    font-size:2.25em;
	
	@media (min-width: 700px) AND (max-width:999px ){
		width:100%;
		justify-content: flex-end;
	}


}
.header__navbar__cartlink__text
{
	font-size:21px;
	letter-spacing: 0em;;
	vertical-align: middle;
}
