.main__row {
  display: flex;
  margin-right: -1*($gutter/2);

  margin-left: -1*($gutter/2);

  flex-direction: column;
  @media (min-width: 700px) {
    flex-direction: row;
    flex-wrap: wrap;
  }
}

.main__col {
  width: 100%;
  //display: flex;
  padding-right: $gutter / 2;
  padding-left: ($gutter / 2);
  @media (min-width: 700px) {
    width: 50%;
    margin-bottom: 2*$gutter;
  }
}

.main__col:nth-child(3) {

  @media (min-width: 700px) {
    order: 4;
  }

}

.main__col:nth-child(4) {

  @media (min-width: 700px) {
    order: 3;
  }

}

.main__col__content {
  display: flex;
  width: 100%;
  flex-direction: row;
  flex-wrap: wrap;
}

.main__col__text {
  width: 100%;
  height: 100%;
  @media (min-width: 1000px) {
    margin-top: 4*$gutter;
  }
}

.main__col__text__h2 {
  margin-bottom: 2*$gutter;
  font-size: 3em;
}

.main__col__text__p {
  margin-bottom: 2*$gutter;

  font-size: 1.8em;
  @media (min-width: 700px) {
    font-size: 1.5em;
  }
}

.main__col:nth-of-type(2) > .main__col__image {

  @media (min-width: 700px) AND (max-width: 999px) {
    margin-right: -20px;
    margin-left: 0;
  }

  @media (max-width: 699px) {
    margin-left: -20px;
  }

}

.main__col__image {
  @media (max-width: 999px) {
    margin-left: -20px;
  }
}

.main__col__img {
  max-width: 100%;
  margin-bottom: 20px;
}

.main__col__content__bigbutton {
  width: 16.5*$gutter;
  height: 2.5*$gutter;
  margin-bottom: 2*$gutter;
  font-size: 21px;
  background-color: $ljosrautt;
  border: none; /* stylelint-disable-line */
  border-radius: 4px;
}
