$svartur: #000000;
$hvitur: #ffffff;	
$graentish: #afb281;
$ljosblar: #cee8ff;
$ljosgult:#fcffd2;
$ljosrautt: #cc9694;


main{

}

.main__row{
	display: flex;
	margin-left: -10px;
	margin-right: -10px;

}
.main__col{
	width:100%;
	//display: flex;
	padding-left:10px;
	padding-right:10px;

}

.main__col__content{
	display: flex;
	flex-direction: column;
  margin-bottom: 10px;
  padding: 10px;
  width: 100%;
  max-width: 470px;
  max-height: 300px;
  overflow: auto;

}	
.main__col__image{

	width:100%;

}
.main__col__img {
  max-width: 100%;
  margin-bottom: 20px;
}
