.product__main__container {
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
  //margin-bottom: 3*$gutter;
  flex-direction: row;
  justify-content: space-between;
}

.product__main__wrapper {
  display: flex;
  flex-wrap: wrap;
  //margin-right: -10px;
  //margin-left: -10px;
  justify-content: space-between;
}

.product__main__container > .main__container:nth-child(5) {
  display: flex;
  justify-content: flex-start;
}

.main__container {
  display: flex;
  font-family: Open-Sans;
  flex-wrap: wrap;
  @media screen and (min-width: 699px) {
    display: flex;
    flex-wrap: wrap;
    width: 48.8%;
    flex-direction: row;

  }
  @media screen and (min-width: 999px) {
    width: 32%;
    //padding: 0 10px;
  }
  @media screen and (max-width: 699px) {
    //padding: 20px 0;
  }
}

.main__image-container {
  width: 100%;

  .product__img {
    width: 100%;
  }
}

.main__text-container {
  display: flex;
  width: 100%;
  height: $gutter*13;
  // height: 30%; -- Var ekki að virka nóu vel
  margin: 2em 0;
  font-family: Oswald;
  flex-direction: column;
  justify-content: space-between;
  // @media screen and (min-width: 700px) {
  //   //height: 35%;
  // }

  .main__text-container__form__button__content {
    display: inline-flex;
    width: 100%;
    flex-direction: row;
  }

  .main__text-container__text {
    .product__title {
      font-size: 2.6em;
      font-weight: bold;
    }
  }

  .main__text-container__text > .form__button__text {
    padding: 20px 0;
    font-size: 1.3em;
  }

  .form__button > .form__button__text {
    width: 80%;
    font-size: 16px;
    text-align: center;
  }

  .text__value {
    padding-bottom: 10px;
    font-family: Oswald;
    font-size: 1.7em;
    font-weight: bold;
  }

  .form__cart {
    width: 24px;
    height: 24px;
    margin-left: auto;
  }

  .form__button {
    display: flex;
    width: 41%;
    height: 3em;
    padding: 0 2em;
    background-color: transparent;
    border: 1px solid;
    border-radius: 4px;
    @media screen and (min-width: 700px) {
      padding: 0 1em;
    }
  }

  .form__button:hover {
    background-color: $ljosrautt;
    transition: background-color 0.3s ease-in-out;
  }

  .product__form__input {
    width: 58%;
    height: 3em;
    padding-left: 1em;
    margin-right: 1em;
    border: 1px solid;
    border-radius: 4px;
    @media screen and (min-width: 700px) {
      width: 57.5%;
    }
  }

  .main__text-container__form {
    .main__product__form {
      display: flex;
      flex-direction: row;
    }
  }
}
